@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto-Serif", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0f1018 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 120vh;
  transform: rotate(-45deg);
}

.star {
  --star-color: white;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 7.26em;
  --top-offset: 13.12vh;
  --fall-duration: 9.866s;
  --fall-delay: 8.338s;
}
.star:nth-child(2) {
  --star-tail-length: 7.42em;
  --top-offset: 74.61vh;
  --fall-duration: 6.355s;
  --fall-delay: 1.477s;
}
.star:nth-child(3) {
  --star-tail-length: 5.96em;
  --top-offset: 36.6vh;
  --fall-duration: 10.214s;
  --fall-delay: 8.978s;
}
.star:nth-child(4) {
  --star-tail-length: 6.12em;
  --top-offset: 96.39vh;
  --fall-duration: 6.53s;
  --fall-delay: 0.037s;
}
.star:nth-child(5) {
  --star-tail-length: 6.09em;
  --top-offset: 99.88vh;
  --fall-duration: 10.423s;
  --fall-delay: 4.877s;
}
.star:nth-child(6) {
  --star-tail-length: 5.45em;
  --top-offset: 97.48vh;
  --fall-duration: 6.388s;
  --fall-delay: 9.373s;
}
.star:nth-child(7) {
  --star-tail-length: 6.9em;
  --top-offset: 87.38vh;
  --fall-duration: 9.523s;
  --fall-delay: 5.223s;
}
.star:nth-child(8) {
  --star-tail-length: 7.42em;
  --top-offset: 85.35vh;
  --fall-duration: 7.548s;
  --fall-delay: 7.79s;
}
.star:nth-child(9) {
  --star-tail-length: 6.23em;
  --top-offset: 46.64vh;
  --fall-duration: 8.254s;
  --fall-delay: 8.648s;
}
.star:nth-child(10) {
  --star-tail-length: 7.41em;
  --top-offset: 67.11vh;
  --fall-duration: 11.477s;
  --fall-delay: 0.839s;
}
.star:nth-child(11) {
  --star-tail-length: 6.08em;
  --top-offset: 60.78vh;
  --fall-duration: 6.823s;
  --fall-delay: 3.498s;
}
.star:nth-child(12) {
  --star-tail-length: 5.77em;
  --top-offset: 34.17vh;
  --fall-duration: 7.124s;
  --fall-delay: 8.529s;
}
.star:nth-child(13) {
  --star-tail-length: 7.16em;
  --top-offset: 33.59vh;
  --fall-duration: 11.486s;
  --fall-delay: 0.826s;
}
.star:nth-child(14) {
  --star-tail-length: 7.32em;
  --top-offset: 54.38vh;
  --fall-duration: 8.321s;
  --fall-delay: 2.111s;
}
.star:nth-child(15) {
  --star-tail-length: 7.09em;
  --top-offset: 89.09vh;
  --fall-duration: 10.5s;
  --fall-delay: 6.922s;
}
.star:nth-child(16) {
  --star-tail-length: 6.61em;
  --top-offset: 38.16vh;
  --fall-duration: 8.469s;
  --fall-delay: 5.875s;
}
.star:nth-child(17) {
  --star-tail-length: 5.46em;
  --top-offset: 79.25vh;
  --fall-duration: 7.663s;
  --fall-delay: 3.78s;
}
.star:nth-child(18) {
  --star-tail-length: 7.2em;
  --top-offset: 83.25vh;
  --fall-duration: 8.606s;
  --fall-delay: 4.342s;
}
.star:nth-child(19) {
  --star-tail-length: 6.07em;
  --top-offset: 61.76vh;
  --fall-duration: 6.116s;
  --fall-delay: 2.461s;
}
.star:nth-child(20) {
  --star-tail-length: 6.86em;
  --top-offset: 7.31vh;
  --fall-duration: 6.386s;
  --fall-delay: 4.754s;
}
.star:nth-child(21) {
  --star-tail-length: 7.44em;
  --top-offset: 59.94vh;
  --fall-duration: 10.192s;
  --fall-delay: 7.39s;
}
.star:nth-child(22) {
  --star-tail-length: 5.81em;
  --top-offset: 8.76vh;
  --fall-duration: 7.658s;
  --fall-delay: 7.615s;
}
.star:nth-child(23) {
  --star-tail-length: 7.31em;
  --top-offset: 72vh;
  --fall-duration: 7.297s;
  --fall-delay: 1.879s;
}
.star:nth-child(24) {
  --star-tail-length: 6.38em;
  --top-offset: 20.77vh;
  --fall-duration: 8.536s;
  --fall-delay: 0.724s;
}
.star:nth-child(25) {
  --star-tail-length: 6.73em;
  --top-offset: 92.51vh;
  --fall-duration: 10.437s;
  --fall-delay: 8.99s;
}
.star:nth-child(26) {
  --star-tail-length: 7.43em;
  --top-offset: 67.08vh;
  --fall-duration: 8.471s;
  --fall-delay: 5.599s;
}
.star:nth-child(27) {
  --star-tail-length: 6.82em;
  --top-offset: 44.02vh;
  --fall-duration: 10.825s;
  --fall-delay: 2.935s;
}
.star:nth-child(28) {
  --star-tail-length: 6.94em;
  --top-offset: 33.91vh;
  --fall-duration: 10.698s;
  --fall-delay: 7.278s;
}
.star:nth-child(29) {
  --star-tail-length: 6.65em;
  --top-offset: 38vh;
  --fall-duration: 10.346s;
  --fall-delay: 9.339s;
}
.star:nth-child(30) {
  --star-tail-length: 7.34em;
  --top-offset: 59.81vh;
  --fall-duration: 6.076s;
  --fall-delay: 6.249s;
}
.star:nth-child(31) {
  --star-tail-length: 5.09em;
  --top-offset: 35.64vh;
  --fall-duration: 8.628s;
  --fall-delay: 8.122s;
}
.star:nth-child(32) {
  --star-tail-length: 6.92em;
  --top-offset: 1.61vh;
  --fall-duration: 11.811s;
  --fall-delay: 7.993s;
}
.star:nth-child(33) {
  --star-tail-length: 6.76em;
  --top-offset: 93.38vh;
  --fall-duration: 8.629s;
  --fall-delay: 5.631s;
}
.star:nth-child(34) {
  --star-tail-length: 6.67em;
  --top-offset: 73.21vh;
  --fall-duration: 6.193s;
  --fall-delay: 2.577s;
}
.star:nth-child(35) {
  --star-tail-length: 5.7em;
  --top-offset: 57.57vh;
  --fall-duration: 6.654s;
  --fall-delay: 5.896s;
}
.star:nth-child(36) {
  --star-tail-length: 6.85em;
  --top-offset: 35.52vh;
  --fall-duration: 7.005s;
  --fall-delay: 0.761s;
}
.star:nth-child(37) {
  --star-tail-length: 7.13em;
  --top-offset: 13.31vh;
  --fall-duration: 10.032s;
  --fall-delay: 8.486s;
}
.star:nth-child(38) {
  --star-tail-length: 6.16em;
  --top-offset: 0.58vh;
  --fall-duration: 9.612s;
  --fall-delay: 0.853s;
}
.star:nth-child(39) {
  --star-tail-length: 5.06em;
  --top-offset: 45.73vh;
  --fall-duration: 9.466s;
  --fall-delay: 7.531s;
}
.star:nth-child(40) {
  --star-tail-length: 6.68em;
  --top-offset: 36.75vh;
  --fall-duration: 9.595s;
  --fall-delay: 2.688s;
}
.star:nth-child(41) {
  --star-tail-length: 6.5em;
  --top-offset: 57.28vh;
  --fall-duration: 11.565s;
  --fall-delay: 9.965s;
}
.star:nth-child(42) {
  --star-tail-length: 7.23em;
  --top-offset: 58.49vh;
  --fall-duration: 10.27s;
  --fall-delay: 6.476s;
}
.star:nth-child(43) {
  --star-tail-length: 6.11em;
  --top-offset: 94.38vh;
  --fall-duration: 10.924s;
  --fall-delay: 7.601s;
}
.star:nth-child(44) {
  --star-tail-length: 7em;
  --top-offset: 39.32vh;
  --fall-duration: 6.615s;
  --fall-delay: 6.164s;
}
.star:nth-child(45) {
  --star-tail-length: 5.35em;
  --top-offset: 64.16vh;
  --fall-duration: 10.022s;
  --fall-delay: 4.301s;
}
.star:nth-child(46) {
  --star-tail-length: 6.37em;
  --top-offset: 65.34vh;
  --fall-duration: 10.167s;
  --fall-delay: 7.546s;
}
.star:nth-child(47) {
  --star-tail-length: 6.13em;
  --top-offset: 4.35vh;
  --fall-duration: 11.605s;
  --fall-delay: 1.79s;
}
.star:nth-child(48) {
  --star-tail-length: 5.64em;
  --top-offset: 95.52vh;
  --fall-duration: 6.875s;
  --fall-delay: 7.395s;
}
.star:nth-child(49) {
  --star-tail-length: 6.98em;
  --top-offset: 51.09vh;
  --fall-duration: 8.777s;
  --fall-delay: 9.738s;
}
.star:nth-child(50) {
  --star-tail-length: 7.16em;
  --top-offset: 18.49vh;
  --fall-duration: 10.618s;
  --fall-delay: 0.697s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
.card {
  background-color: rgba(255, 255, 255, 0.952);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  height: 650px;
  width: 380px;
  padding: 15px;
}
.card h1 {
  margin-top: 20px;
}
.card p {
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}
.card a {
  text-decoration: none;
  color: inherit;
}
.card .links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .links button {
  background-color: #8d9ad6;
  font-size: 20px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
.card .links button:hover {
  background-color: #6371ac;
  cursor: pointer;
}
.card .links a {
  font-size: 22px;
}/*# sourceMappingURL=index.css.map */
